[submodule "MarcCornellà"]
	path = mcornella
	url = git@github.com:mcornella/dotfiles.git
[submodule "MathiasBynens"]
	path = MathiasBynens
	url = git@github.com:mathiasbynens/dotfiles.git
[submodule "BrianUstas"]
	path = ustasb
	url = git@github.com:ustasb/dotfiles.git
[submodule "MarcoFerrari"]
	path = ferrarimarco
	url = git@github.com:ferrarimarco/dotfiles.git
[submodule "BillyWayneMcCann"]
	path = exergonic
	url = git@github.com:exergonic/dotfiles.git
[submodule "LarsKappert"]
	path = webpro
	url = git@github.com:webpro/dotfiles.git
[submodule "MarcelBischoff"]
	path = herrbischoff
	url = git@github.com:herrbischoff/dotpr0n.git
[submodule "GeorgeGritsouk"]
	path = gggritso
	url = git@github.com:gggritso/dotfiles.git
[submodule "TimButters"]
	path = TimButters
	url = git@github.com:TimButters/dotfiles.git
[submodule "GregHurrell"]
	path = wincent
	url = git@github.com:wincent/wincent.git
[submodule "NicolaPaolucci"]
	path = durdn
	url = git@github.com:durdn/cfg.git
[submodule "PaulIrish"]
	path = PaulIrish
	url = git@github.com:paulirish/dotfiles.git
[submodule "xero"]
	path = xero
	url = git@github.com:xero/dotfiles.git
