[submodule "MarcCornellà"]
  branch = main
  path = mcornella
  url = https://github.com/mcornella/dotfiles
[submodule "MathiasBynens"]
  branch = master
  path = MathiasBynens
  url = https://github.com/mathiasbynens/dotfiles
[submodule "BrianUstas"]
  branch = master
  path = ustasb
  url = https://github.com/ustasb/dotfiles
[submodule "MarcoFerrari"]
  branch = master
  path = ferrarimarco
  url = https://github.com/ferrarimarco/dotfiles
[submodule "BillyWayneMcCann"]
  branch = master
  path = exergonic
  url = https://github.com/exergonic/dotfiles
[submodule "LarsKappert"]
  branch = main
  path = webpro
  url = https://github.com/webpro/dotfiles
[submodule "GeorgeGritsouk"]
  branch = main
  path = gggritso
  url = https://github.com/gggritso/dotfiles
[submodule "TimButters"]
  branch = master
  path = TimButters
  url = https://github.com/TimButters/dotfiles
[submodule "GregHurrell"]
  branch = master
  path = wincent
  url = https://github.com/wincent/wincent
[submodule "NicolaPaolucci"]
  branch = master
  path = durdn
  url = https://github.com/durdn/cfg
[submodule "PaulIrish"]
  branch = main
  path = PaulIrish
  url = https://github.com/paulirish/dotfiles
[submodule "xero"]
  branch = main
  path = xero
  url = https://github.com/xero/dotfiles
[submodule "DriesVints"]
  branch = main
  path = DriesVints
  url = https://github.com/driesvints/dotfiles
[submodule "arp242"]
  branch = master
  path = arp242
  url = https://github.com/arp242/dotfiles
[submodule "mislav"]
  branch = master
  path = mislav
  url = https://github.com/mislav/dotfiles
[submodule "awdeorio"]
  branch = main
  path = awdeorio
  url = https://github.com/awdeorio/dotfiles
[submodule "sircmpwn"]
  branch = master
  path = sircmpwn
  url = https://git.sr.ht/~sircmpwn/dotfiles
[submodule "victor-engmark"]
  branch = master
  path = victor-engmark
  url = https://gitlab.com/engmark/tilde.git
