[submodule "MarcCornellà"]
	path = MarcCornellà
	url = git@github.com:mcornella/dotfiles.git
[submodule "MathiasBynens"]
	path = MathiasBynens
	url = git@github.com:mathiasbynens/dotfiles.git
[submodule "BrianUstas"]
	path = BrianUstas
	url = git@github.com:ustasb/dotfiles.git
[submodule "MarcoFerrari"]
	path = MarcoFerrari
	url = git@github.com:ferrarimarco/dotfiles.git
